# .gitignore

.DS_Store
.Rhistory

# ignore data, estimates, figures, and tables except for README files
data/*
!data/acs/README.md
!data/clean/README.md
!data/fcc/README.md
!data/holc/README.md
!data/tiger/README.md
estimates/*
!estimates/README.md
figures/*
!figures/README.md
tables/*
tables/README.md

# ignore compilied Stan models
scripts/stan/*
!scripts/stan/model_acs.stan
!scripts/stan/model_fcc.stan
